body {
  font-family: andale mono, verdana, sans-serif;
  font-size: 15px;
  overflow: hidden;
  background: linear-gradient(204deg, rgba(255,255,255,1) 12%, rgba(241,247,247,1) 100%);
}

.App {
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message-area {
  height: 200px;
  padding: 20px;
  background: #e8e8e8;
  overflow-y: scroll;
  width: 400px;
}

.container {
  display: grid; 
  grid-template-columns: 0.5fr 2.0fr 0.5fr; 
  grid-template-rows: 0.3fr 2.2fr 0.3fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header header"
    "leftsidebar centercontent rightsidebar"
    "footer footer footer"; 
    overflow: hidden;
}
.centercontent { 
  display: flex;
  grid-area: centercontent;
  height: 86vh;
  width: 100%;
  justify-content: center;
  text-align: center;
  overflow: auto;
 }
.header { 
  display: flex;
  grid-area: header; 
  height: 100px;
  justify-content: center;
  align-content: center;
}
.footer { 
  grid-area: footer;
  height: 100%;
  width: 100%;
}
.leftsidebar { 
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  grid-area: leftsidebar;
  height: 100%;
  width: 300px;
  overflow: hidden;
 }

.rightsidebar { 
  border-left: 2px solid #ededed;
  display: flex;
  text-align: center;
  justify-content: center;
  grid-area: rightsidebar;
  height: 100%;
  width: 300px; 
  overflow: hidden;
}

  .makeListing{
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
  }

  .listingText{
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .listingCreationForm{
    border-radius: 57px;
    width: 100%;
    padding: 20px;
  }

  .headerContent{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items:center;
    height: 80%;
    width: 90%;
    border-bottom: 1px solid #ededed;
  }

  .leftsidebarContent{
    width: 100%;
    height: 100%;
    border-right: 1px solid #ededed;
  }

  .rightsidebarContent{
    padding-right: 50px;
    width: 100%;
    height: 100%;
  }

  .listing {
    background-color: white;
    border: 2px solid #cfe0e2;
    border-radius: 50px;
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .listingTitle{
    color: #658b90;
    font-size: 23px;
    margin-bottom: 10px;
  }

  .listingDescription{
    margin: 10px;
  }

  .listingType{
    font-size: 10px;
    margin-bottom: 10px;
  }
  .listingPrice{
    font-size: 15px;
  }

  .makeListingBox textarea{
    text-align: center;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 7px;
  }

  .makeListingSubmit{
    font-size: 15px;
    margin: 10px;
    border: 1px solid #ededed;
    border-radius: 5px;
    background-color: white;
    font-family: andale mono, verdana, sans-serif;
    padding: 5px;
  }

  .makeListingSubmit:hover{
    background-color: #ededed;
  }
  

.file-input{
  font-size: 15px;
    margin: 10px;
    border: 1px solid #ededed;
    border-radius: 5px;
    background-color: white;
    font-family: andale mono, verdana, sans-serif;
    padding: 10px;
}

  .file-input-label{
    font-size: 15px;
    margin: 10px;
    border: 1px solid #ededed;
    border-radius: 5px;
    background-color: white;
    font-family: andale mono, verdana, sans-serif;
    padding: 10px;
  }  

  .loginBox{
  }

  .loginBox textarea{
    height: 10px;
    text-align: center;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 15px;
  }

  .login-content{

  }

  .login-username{
    padding: 10px;
  }

  .login-password{
    padding: 10px;
  }

  .login-login{
    font-size: 20px;
    border-bottom: 2px solid #e6e6e6;
  }

  .login-submit{
    font-size: 15px;
    margin: 10px;
    border: 1px solid #ededed;
    border-radius: 5px;
    background-color: white;
    font-family: andale mono, verdana, sans-serif;
    padding: 5px;
  }

  .delete-button{
    font-size: 12px;
    padding-right: 25px;
    display: flex;
    justify-content: right;
    align-content: right;
    align-items: right;
  }